@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contact-right-side{
	background-color: blue;
	padding: 20px;
	color: #fff;
	text-align: center;
}

.contact-left-side{
	background-color: burlywood;
	padding: 30px;
	color: #000;
}

.submit-btn{
	padding: 10px 0;
}

textarea[type=text],input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
}



