@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*  ================== Target Page ================== */
.content-head-section{
	background-image:url("https://thumbs.dreamstime.com/b/school-school-back-above-back-to-school-backdrop-background-banner-118501020.jpg");
	font: #000;
	padding: 50px 50;
}